<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}PETFAX™ | Adopt, Adore, Cherish, & Gush about Cute and Furries{% endblock %}</title>
</head>
<body>
    <header>
        <h1>PETFAX™</h1>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
