

{% extends 'base.html' %}

{% block title %}PETFAX™ | Adopt, Adore, Cherish, & Gush about Cute and Furries{% endblock %}

{% block content %}
    <h2>Welcome to PetFax</h2>
    {% for pet in pets %}
    <li>
        <h3><a href="{{ url_for('pet.display', index=pet.pet_id) }}">{{ pet.pet_name }}</a></h3>
        <img src="{{ pet.pet_photo }}" alt="{{ pet.pet_name }}">
        <p>{{ pet.pet_fact }}</p>
    </li>
{% endfor %}
</ul>
<a href="{{ url_for('fax.new') }}"><button>Create New Fax</button></a>
{% endblock %}
